{% extends 'main/base_.html' %}

{% block title %}
Добавить запись
{% endblock %}

{% block content %}
    <h1>Добавить тренировку</h1>
    <form method="post">
        {% csrf_token %}
        {{form.title}}<br>
        {{form.date}}<br>
        {{form.description}}<br>
        {{form.video}}<br>
        <p>Выберите марафон</p>{{form.marathon}}<br>
        <button type="submit" class="btn btn-info">Добавить</button>
        <span>{{ error }}</span>

    </form>
{% endblock %}