{% extends 'main/base_.html' %}

{% block title %}
Параметры
{% endblock %}

{% block style %}
   body {
        background-image: url("../static/img/2b.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
{% endblock %}


{% block content %}
    <h1 class="custom-colored-h1" align="center">Параметры</h1>
    <form method="post">
        {% csrf_token %}
        <span class="error">{{ error }}</span><br>
        <input type="date"{{form.date}}<br>
        {{form.height}}<br>
        {{form.weight}}<br>
        {{form.girth_breast}}<br>
        {{form.girth_waist}}<br>
        {{form.girth_hips}}<br>
        {{form.girth_shoulders}}<br>
        {{form.girth_arm}}<br>
        {{form.girth_leg}}<br>
        <p>Выберите марафон</p>{{form.marathon}}<br>
<!--        <p>Выберите клиента</p>{{form.user}}<br>-->
        <div align="center"><button type="submit" class="c-button">Сохранить</button></div><br>
<!--        <div align="center"><a href="/parameter?id={{el.id}}" class="button8">Назад</a></div><br>-->


    </form>
{% endblock %}