{% extends 'main/base_.html' %}

{% block title %}
Запсь
{% endblock %}

{% block style %}
   body {
        background-image: url("../static/img/1b.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
       }
{% endblock %}

{% block content %}
    <h1 class="custom-colored-h1" align="center">Запись</h1>
    <form method="post">
        {% csrf_token %}
        <span class="error">{{ error }}</span><br>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label class="table-title">Название</label>
                {{form.title}}
            </div>
            <div class="form-group col-md-2">
                <label class="table-title">Дата</label>
                <input type="date"{{form.date}}
            </div>
        </div>

         <div class="form-row">
            <div class="form-group col-md-3">
                <label class="table-title">Завтрак</label>
                {{form.breakfast}}
            </div>
            <div class="form-group col-md-3">
                <label class="table-title">Обед</label>
                {{form.lunch}}
            </div>
            <div class="form-group col-md-3">
                <label class="table-title">Ужин</label>
                {{form.dinner}}
            </div>
            <div class="form-group col-md-3">
                <label class="table-title">Перекус/Прочее</label>
                {{form.snack}}
            </div>
        </div>
        {% if request.user.is_superuser == 1 %}
             <div class="form-row">
                <div class="form-group col-md-12" >
                    <label class="table-title">Комментарий куратора</label>
                    {{form.comment}}
                </div>
            </div>
        {% endif %}
<!--                <p>Выберите марафон</p>{{form.marathon}}<br>-->
    <!--         <p>Выберите пользователя</p>{{form.user}}<br>-->

        <div align="center"><button type="submit" class="c-button">Сохранить</button></div><br>
<!--        <div align="center"><a href="/diary" class="button8">Назад</a></div><br>-->


    </form>
{% endblock %}
