{% extends 'main/base_.html' %}

{% block title %}
Страница про нас
{% endblock %}

{% block content %}
    <h1>Параметры</h1>
    <form action="/create_parameter" target="_blank"><button type="submit" class="btn btn-info">Добавить параметры</button></form><br>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Дата</th>
                <th>Рост</th>
                <th>Вес</th>
                <th>Обхват груди</th>
                <th>Обхват талии</th>
                <th>Обхват бёдер</th>
                <th>Обхват плеч</th>
                <th>Обхват руки</th>
                <th>Обхват ноги</th>
                <th>Клиент</th>
            </tr>
            </thead>
            <tbody>
            {% for el in parameters %}
            <tr>
                <td>{{ el.date }}</td>
                <td>{{ el.height }}</td>
                <td>{{ el.weight }}</td>
                <td>{{ el.girth_breast }}</td>
                <td>{{ el.girth_waist }}</td>
                <td>{{ el.girth_hips }}</td>
                <td>{{ el.girth_shoulders }}</td>
                <td>{{ el.girth_arm }}</td>
                <td>{{ el.girth_leg }}</td>
                <td>{{ el.client }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}

